.contenedor-app{
    width:80%;
    background: #f1bc29;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:center;
}
.contenedor-img{
    padding:1%;
    background:darkgray;
    width:30%;
    height:40%;
}

.img{
    width:100%;
}

.title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}