body{
    background: darkcyan;
}

.App{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-left: 10%;
}

.buscador{
    width:100%;
    height:80%;
    background: rgb(0, 0, 0);
}

.text{
    margin-left:5%;
    font-size:30px;
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input{
    margin-left: auto;
    margin-right: auto;
    width:95%;
    border-radius: none;
    font-size:30px
}

.btn{
    width:80%;
    height:50px;
    font-size:30px;
    color: rgb(255, 255, 255);
    background:rgb(255, 0, 242);
}